@import "variables";

.sfi-social-facebook {
  background-image: url("#{$icons}/social/facebook.svg");
}

.sfi-social-twitter {
  background-image: url("#{$icons}/social/twitter.svg");
}

.sfi-social-twitter {
  background-image: url("#{$icons}/social/twitter.svg");
}

.sfi-social-youtube {
  background-image: url("#{$icons}/social/youtube.svg");
}

.sfi-social-twitch {
  background-image: url("#{$icons}/social/twitch.svg");
}

.sfi-social-instagram {
  background-image: url("#{$icons}/social/instagram.svg");
}

.sfi-social-instagram {
  background-image: url("#{$icons}/social/instagram.svg");
}

.sfi-social-github {
  background-image: url("#{$icons}/social/github.svg");
}

.sfi-social-gitlab {
  background-image: url("#{$icons}/social/gitlab.svg");
}

.sfi-social-linkedin {
  background-image: url("#{$icons}/social/linkedin.svg");
}
