@import "variables";


/**
  * Streamical Feather Icons Base class
 */
.sfi {
  height: $height;
  width: $width;
  display: inline-block;

  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*
 * Streamical Feather User Icons
 */

.sfi-user {
  background-image: url("#{$icons}/user.svg");
}

.sfi-user-check {
  background-image: url("#{$icons}/user-check.svg");
}

.sfi-user-minus {
  background-image: url("#{$icons}/user-minus.svg");
}

.sfi-user-plus {
  background-image: url("#{$icons}/user-plus.svg");
}

.sfi-users {
  background-image: url("#{$icons}/users.svg");
}

.sfi-user-x {
  background-image: url("#{$icons}/user-x.svg");
}

/*
 * Streamical Feather Login / Logout
 */
.sfi-log-in {
  background-image: url("#{$icons}/log-in.svg");
}

/*
 * Streamical Feather Login / Logout
 */
.sfi-log-out {
  background-image: url("#{$icons}/log-out.svg");
}

/*
 * Streamical Feather Miscellaneous
 */

.sfi-home {
  background-image: url("#{$icons}/home.svg");
}

.sfi-menu {
  background-image: url("#{$icons}/menu.svg");
}

.sfi-map {
  background-image: url("#{$icons}/map.svg");
}

.sfi-x {
  background-image: url("#{$icons}/x.svg");
}

/*
 * Streamical Feather Chevrons
 */

.sfi-chevron-down {
  background-image: url("#{$icons}/chevron-down.svg");
}

.sfi-chevron-left {
  background-image: url("#{$icons}/chevron-left.svg");
}

.sfi-chevron-right {
  background-image: url("#{$icons}/chevron-right.svg");
}

.sfi-chevron-up {
  background-image: url("#{$icons}/chevron-up.svg");
}

.sfi-chevrons-down {
  background-image: url("#{$icons}/chevrons-down.svg");
}

.sfi-chevrons-left {
  background-image: url("#{$icons}/chevrons-left.svg");
}

.sfi-chevrons-right {
  background-image: url("#{$icons}/chevrons-right.svg");
}

.sfi-chevrons-up {
  background-image: url("#{$icons}/chevrons-up.svg");
}

/*
 * Streamical Feather Social Icons
 */
@import "social_icons";

// Streamical Feather Helpers

.sfi-inverted {
  filter: invert(100%);
}
